<hr />
<style>
    .btn-link {
        color: #049;
    }

    .btn-link:hover {
        color: #8EF6E4;
    }
</style>

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Product Management /</span> Category Management</h4>

    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">

            <button class="btn btn-primary add-button" data-bs-toggle="modal" data-bs-target="#modalAddCategory">New
                Category</button>
            <!-- Modal add new category category-->
            <form id="modalFormAdd" action="/ProductManager/addCategory" method="post" enctype="multipart/form-data">
                <div class="modal fade" id="modalAddCategory" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalCenterTitle">New Category</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col mb-3">
                                        <label class="form-label" for="categoryName">Category Name</label>
                                        <input type="text" class="form-control" id="categoryName" placeholder="Name"
                                            name="categoryName" />
                                    </div>
                                    <p id="errorName" class="text-Danger"></p>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 mb-3">
                                        <label for="file" class="form-label">Category Image</label>
                                        <input type="file" ref="file" class="form-control" id="file" name="file" />
                                    </div>
                                    <div class="col-sm-6 mb-3">
                                        <label for="imageURL" class="form-label">Category Image URL</label>
                                        <input type="url" class="form-control" id="imageURL" placeholder="URL"
                                            name="categoryImageUrl" />
                                    </div>
                                    <div class="col-sm-2">
                                        <img id="imagePreview" src="#" alt="Preview"
                                            style="display: none; max-width: 200px; max-height: 200px;" />
                                    </div>
                                    <p id="errorImage" class="text-Danger"></p>
                                </div>
                                <div class="row">
                                    <div class="col mb-3">
                                        <label class="form-label" for="categoryDescription">Description</label>
                                        <textarea id="categoryDescription" class="form-control"
                                            placeholder="Description" name="categoryDescription"></textarea>
                                    </div>
                                    <p id="errorDescription" class="text-Danger"></p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                    Close
                                </button>
                                <button type="submit" class="btn btn-primary ">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Modal edit category-->
            <form id="modalFormEdit" action="/ProductManager/updateCategory" method="post"
                enctype="multipart/form-data">
                <div class="modal fade" id="modalEditCategory" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalCenterTitle">New Category</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col mb-3">
                                        <label class="form-label" for="editCategoryName">Category Name</label>
                                        <input type="text" class="form-control" id="editCategoryName" placeholder="Name"
                                            name="editCategoryName" />
                                    </div>
                                    <p id="editErrorName" class="text-Danger"></p>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 mb-3">
                                        <label for="editFile" class="form-label">Category Image</label>
                                        <input type="file" ref="file" class="form-control" id="editFile"
                                            name="editFile" />
                                    </div>
                                    <div class="col-sm-6 mb-3">
                                        <label for="editImageURL" class="form-label">Category Image URL</label>
                                        <input type="url" class="form-control" id="editImageURL" placeholder="URL"
                                            name="editImageURL" />
                                    </div>
                                    <div class="col-sm-2">
                                        <img id="editImagePreview" src="#" alt="Preview"
                                            style="display: none; max-width: 200px; max-height: 200px;" />
                                    </div>
                                    <p id="editErrorImage" class="text-Danger"></p>
                                </div>
                                <div class="row">
                                    <div class="col mb-3">
                                        <label class="form-label" for="editCategoryDescription">Description</label>
                                        <textarea id="editCategoryDescription" class="form-control"
                                            placeholder="Description" name="editCategoryDescription"></textarea>
                                    </div>
                                    <p id="editErrorDescription" class="text-Danger"></p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                    Close
                                </button>
                                <button type="submit" class="btn btn-primary ">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Modal delete confirm an category -->
            <div class="modal fade" id="modalDelete" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalCenterTitle">Delete
                                Confirmation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h5 class="text-muted fw-light">Are you sure you want to delete
                                <b id="DeleteCategoryName"></b> category
                            </h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">No</button>
                            <button type="button" class="btn btn-primary delete-button" id="confirm-delete">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive text-nowrap">
                <table class="table table-bordered" id="myTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Description</th>
                            <th>Last Modified</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data}}
                        <tr id="trow_{{this.categoryId}}">
                            <td>
                                <i class="fab fa-angular fa-lg text-Danger me-3"></i>
                                <strong>{{this.categoryName}}</strong>
                            </td>
                            <td><img id="img_{{this.categoryId}}" src="{{this.categoryImages}}" alt="" height="50"></td>
                            <td>
                                <div class="overflow-hidden" style="max-width: 200px;">
                                    <p class="text-truncate">{{this.categoryDescription}}</p>
                                </div>
                            </td>
                            <td>
                                {{this.LastModified}}
                            </td>
                            <td style="max-width: 80px;">
                                <div class="row">
                                    <div class="col">
                                        <!-- Button edit -->
                                        <button type="submit" class="btn btn-link" data-bs-toggle="modal"
                                            data-bs-target="#modalEdit_{{this.categoryId}}">
                                            <i class='bx bx-detail me-1'></i> Detail
                                        </button>
                                        <!-- Modal -->

                                        <div class="modal fade" id="modalEdit_{{this.categoryId}}" tabindex="-1"
                                            aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="modalCenterTitle"> Detail</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h4>{{this.categoryName}}</h4>
                                                        <img src="{{this.categoryImages}}" alt="Picture" height="150"
                                                            class="pb-4">

                                                        <h6 class="text-primary">Description:</h6>
                                                        <p>{{this.categoryDescription}}</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-outline-secondary"
                                                            data-bs-dismiss="modal">Close
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <!-- Button Edit -->
                                        <button type="button" class="btn btn-link edit-button"
                                            data-id="{{this.categoryId}}" data-name="{{this.categoryName}}"
                                            data-img="{{this.categoryImages}}"
                                            data-description="{{this.categoryDescription}}"
                                            data-bs-target="#modalEditCategory" data-bs-toggle="modal">
                                            <i class="bx bx-edit-alt me-1"></i> Edit
                                        </button>
                                    </div>

                                    <div class="col">
                                        <!-- Button delete -->
                                        <button type="button" class="btn btn-link delete-button" data-bs-toggle="modal"
                                            data-bs-target="#modalDelete" data-id="{{this.categoryId}}"
                                            data-name="{{this.categoryName}}">
                                            <i class="bx bx-trash me-1"></i> Delete
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
    $('#Category').addClass('active');
</script>

<script>
    $(document).ready(function () {
        //////////////////// Delete a category ////////////////////
        $('.delete-button').click(function () {
            const name = $(this).data('name');
            const id = $(this).data('id');

            $('#modalDelete').modal('show'); // Hiển thị modal xác nhận xóa
            $('#DeleteCategoryName').text(name);
            $('#confirm-delete').data('id', id);
        });
        // Xử lý sự kiện click nút Yes trong modal xác nhận xóa
        $('.modal-footer button.delete-button').click(function () {
            const id = $(this).data('id');

            // Lấy ID từ data-id của nút Yes
            const response = $.ajax({
                url: '/ProductManager/deleteCategory/' + id,
                // URL xử lý xóa
                type: 'POST',
            });

            alert(response.info);
            $('#modalDelete').modal('hide');
            $('#trow_' + id).hide();
            flashMessage("Success", "Delete category Successfully");
            if (response.info) {
                // Xóa thành công, ẩn phần tử
                $('#modalDelete').modal('hide');
                $('#trow_' + id).hide();
                flashMessage("Success", "Delete category Successfully");
            } else {
                // Lỗi xảy ra, hiển thị thông báo lỗi
                flashMessage("Danger", "Delete category failed");
            }
        });
    });
    //////////////////// Edit a category //////////////////////


    //////////////////// Add category ////////////////////
    $(document).ready(function () {
        const form = $('#modalFormAdd');
        const nameInput = $('#categoryName');
        const fileInput = $('#file');
        const urlInput = $('#imageURL');
        const descriptionInput = $('#categoryDescription');
        const errorName = $('#errorName');
        const errorImage = $('#errorImage');
        const errorDescription = $('#errorDescription');

        const imagePreview = $('#imagePreview'); // Phần tử img hiển thị hình ảnh

        ShowImage(fileInput, urlInput, imagePreview);

        form.submit(async function (event) {
            event.preventDefault();
            try {
                if (validateForm(nameInput, fileInput, urlInput, descriptionInput, errorName, errorImage, errorDescription)) {
                    await addCategory(errorName);
                }
            } catch (error) {
                flashMessage("Danger", "Thêm danh mục mới thất bại !");
            }
        });
    });



    ////////////////////////////////Các funtion ////////////////////////////

    function checkInput(element) {
        const inputElement = $(element);
        return !!inputElement.val();
    }

    function checkUpload(element) {
        const fileInput = $(element);
        return !!fileInput.val();
    }

    async function editCategory(id) {
        const form = $('#modalFormEdit');
        const category = new FormData();
        category.append('categoryId', id);

        try {
            await $.ajax({
                type: 'POST',
                url: '/ProductManager/updateCategory',
                data: category,
                dataType: 'json',
                contentType: false,
                processData: false,
            });
            $('#modalEditCategory').modal('hide'); // Hide the modal form
            flashMessage("Success", "Cập nhật danh mục thành công !");
            form.reset();
        } catch (error) {
            flashMessage("Danger", "Cập nhật danh mục thất bại !");
        }

    }

    // Hàm thêm mới vào firebase
    async function addCategory(errorName) {
        const form = $('form');
        try {
            const formData = new FormData(form[0]);
            const response = await $.ajax({
                type: 'POST',
                url: '/ProductManager/addCategory',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
            });

            if (response.exists) {
                errorName.text('Tên danh mục đã tồn tại');
            } else {
                $('#modalAddCategory').modal('hide'); // Hide the modal form
                flashMessage("Success", "Thêm danh mục mới thành công !");
                addTableRow(response.categoryId, response.categoryName, response.categoryDescription, response.categoryImages, response.LastModified); // Check the response object in the console
                reloadImage(document.getElementById(`img_${response.categoryId}`));
                form[0].reset();
            }
        } catch (error) {
            flashMessage("Danger", "Thêm danh mục mới thất bại !");
        }
    }


    // function hiển thị flash message bên góc phải màn hình.
    function flashMessage(type, message) {
        const html = `
            <div class="flash-message bs-toast bg-${type} top-0 end-0 toast toast-placement-ex m-2 show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <i class="bx bx-bell me-2"></i>
                    <div class="me-auto fw-semibold">${type}</div>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">${message}</div>
            </div>`;
        $('body').append(html);
        setTimeout(function () {
            $('.flash-message').remove();
        }, 3000);
    }

    // Hàm reload ảnh
    function reloadImage(imgElement) {
        imgElement.setAttribute('src', imgElement.getAttribute('src'));
    }

    // Hàm kiểm tra form
    function validateForm(nameInput, fileInput, urlInput, descriptionInput, errorName, errorImage, errorDescription) {
        let isValid = true;
        if (nameInput.val().trim() === '') {
            errorName.text('Vui lòng nhập tên danh mục');
            isValid = false;
        } else {
            errorName.text('');
        }

        if (!fileInput[0].files[0] && urlInput.val().trim() === '') {
            errorImage.text('Vui lòng chọn hình ảnh hoặc nhập URL');
            isValid = false;
        } else if (fileInput[0].files[0]) {
            const fileExtension = fileInput[0].files[0].name.split('.').pop().toLowerCase();
            const fileTypes = ['jpg', 'jpeg', 'png', 'gif'];
            if (!fileTypes.includes(fileExtension)) {
                errorImage.text('Vui lòng tải lên tệp hình ảnh hợp lệ (JPG, JPEG, PNG, GIF)');
                isValid = false;
            } else {
                errorImage.text('');
            }
        } else {
            errorImage.text('');
        }

        if (descriptionInput.val().trim() === '') {
            errorDescription.text('Vui lòng nhập mô tả danh mục');
            isValid = false;
        } else {
            errorDescription.text('');
        }

        return isValid;
    }

    // Hàm thêm một dòng mới vào bảng
    function addTableRow(categoryId, categoryName, categoryDescription, categoryImages, LastModified) {
        const htmlRow = `
            <tr id="trow_${categoryId}">
                <td>
                    <i class="fab fa-angular fa-lg text-Danger me-3"></i>
                    <strong>${categoryName}</strong>
                </td>
                <td><img id="img_${categoryId}"  src="${categoryImages}" alt="" height="50"></td>
                <td>
                    <div class="overflow-hidden" style="max-width: 200px;">
                        <p class="text-truncate">${categoryDescription}</p>
                    </div>
                </td>
                <td>
                    ${LastModified}
                </td>
                <td style="max-width: 80px;">
                    <div class="row">
                        <div class="col">
                            <!-- Button edit -->
                            <button type="submit" class="btn btn-link" data-bs-toggle="modal"
                                data-bs-target="#modalEdit_${categoryId}">
                                <i class='bx bx-detail me-1'></i> Detail
                            </button>
                            <!-- Modal -->

                            <div class="modal fade" id="modalEdit_${categoryId}" tabindex="-1"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalCenterTitle"> Detail</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h4>${categoryName}</h4>
                                            <img src="${categoryImages}" alt="Picture" height="150"
                                                class="pb-4">

                                            <h6 class="text-primary">Description:</h6>
                                            <p>${categoryDescription}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-secondary"
                                                data-bs-dismiss="modal">Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <!-- Button edit -->
                            <a class="btn btn-link"
                                href="/ProductManager/updateCategory/${categoryId}">
                                <i class="bx bx-edit-alt me-1"></i> Edit
                            </a>
                        </div>
                        <div class="col">

                            <!-- Button delete -->
                            <button type="button" class="btn btn-link delete-button"
                                data-id="${categoryId}">
                                <i class="bx bx-trash me-1"></i> Delete
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="modalDelete_${categoryId}" tabindex="-1"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalCenterTitle">Delete
                                                Confirmation</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h5 class="text-muted fw-light">Are you sure you want to delete
                                                the <b>${categoryName}</b> category</h5>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-secondary"
                                                data-bs-dismiss="modal">No</button>
                                            <button type="button" class="btn btn-primary delete-button"
                                                data-id="${categoryId}">Yes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>`;
        // Thêm dòng mới vào bảng bằng jQuery
        $('#myTable tbody').prepend(htmlRow);
    }


    // Hiển thị các hình ảnh khi người dùng upload hoặc nhập url.
    function ShowImage(uploadInput, urlInput, previewImage) {
        // Bắt sự kiện khi người dùng chọn tập tin từ máy tính của họ
        uploadInput.on('change', function () {
            const file = this.files[0]; // Lấy tập tin đầu tiên trong danh sách đã chọn
            const reader = new FileReader(); // Tạo đối tượng FileReader để đọc tệp

            // Bắt sự kiện khi tệp được đọc thành công
            reader.addEventListener('load', function () {
                previewImage.attr('src', reader.result); // Gán đường dẫn của ảnh được đọc vào phần tử img
                previewImage.css('display', 'block'); // Hiển thị phần tử img
            });

            // Đọc tệp dưới dạng URL dữ liệu
            reader.readAsDataURL(file);
        });

        // Bắt sự kiện khi người dùng nhập URL cho hình ảnh
        urlInput.on('input', function () {
            previewImage.attr('src', urlInput.val()); // Gán đường dẫn hình ảnh nhập vào phần tử img
            previewImage.css('display', 'block'); // Hiển thị phần tử img
        });
    }

</script>