<hr />
<style>
    .back-to-top {
        position: fixed;
        display: none;
        right: 40px;
        bottom: 50px;
        z-index: 11;
        animation: action 1s infinite alternate;
    }
</style>

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Product Management /</span> Brands Management</h4>

    <div class="card">
        <div class="card-body">
            <!-- Modal add new Brand-->
            <form id="modalFormAdd" enctype="multipart/form-data">
                <div class="modal fade" id="modalAddBrands" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalCenterTitle">New Brand</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row mb-3">
                                    <label class="form-label" for="checkboxCategory">In Category</label>
                                    <div class="col-md" id="checkboxCategory">
                                        {{#each categories}}
                                        <div class="form-check form-check-inline mt-3">
                                            <input class="form-check-input" type="checkbox" id="{{this.categoryId}}"
                                                value="{{this.categoryName}}" />
                                            <label class="form-check-label badge bg-label-success"
                                                for="{{this.categoryId}}">{{this.categoryName}}</label>
                                        </div>
                                        {{/each}}
                                    </div>
                                    <p id="errorCategory" class="text-Danger pt-3"></p>
                                </div>

                                <div class="row">
                                    <div class="col mb-3">
                                        <label class="form-label" for="brandName">Brand Name</label>
                                        <input type="text" class="form-control" id="brandName" placeholder="Name"
                                            name="brandName" />
                                    </div>
                                    <p id="errorName" class="text-Danger"></p>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 mb-3">
                                        <label for="file" class="form-label">Brand Image</label>
                                        <input type="file" ref="file" class="form-control" id="file" name="file" />
                                    </div>
                                    <div class="col-sm-6 mb-3">
                                        <label for="imageURL" class="form-label">Brand Image URL</label>
                                        <input type="url" class="form-control" id="imageURL" placeholder="URL"
                                            name="imageURL" />
                                    </div>
                                    <div class="col-sm-2">
                                        <img id="imagePreview" src="#" alt="Preview"
                                            style="display: none; max-width: 200px; max-height: 200px;" />
                                    </div>
                                    <p id="errorImage" class="text-Danger"></p>
                                </div>
                                <div class="row">
                                    <div class="col mb-3">
                                        <label class="form-label" for="brandDescription">Brand description</label>
                                        <textarea id="brandDescription" class="form-control" placeholder="Description"
                                            name="brandDescription"></textarea>
                                    </div>
                                    <p id="errorDescription" class="text-Danger"></p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                    Close
                                </button>
                                <button class="btn btn-primary ">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Modal edit Brand-->
            <form id="modalFormEdit" action="/BrandManagement/updateBrand" method="post" enctype="multipart/form-data">
                <div class="modal fade" id="modalEditBrand" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalCenterTitle">Edit Brand</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col mb-3">
                                        <label class="form-label" for="editbrandName">Brand Name</label>
                                        <input type="text" class="form-control" id="editbrandName" placeholder="Name"
                                            name="editbrandName" />
                                    </div>
                                    <p id="editErrorName" class="text-Danger"></p>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 mb-3">
                                        <label for="editFile" class="form-label">Brand Image</label>
                                        <input type="file" ref="file" class="form-control" id="editFile"
                                            name="editFile" />
                                    </div>
                                    <div class="col-sm-6 mb-3">
                                        <label for="editImageURL" class="form-label">Brand Image URL</label>
                                        <input type="url" class="form-control" id="editImageURL" placeholder="URL"
                                            name="editImageURL" />
                                    </div>
                                    <div class="col-sm-2">
                                        <img id="editImagePreview" src="#" alt="Preview"
                                            style="display: none; max-width: 200px; max-height: 200px;" />
                                    </div>
                                    <p id="editErrorImage" class="text-Danger"></p>
                                </div>
                                <div class="row">
                                    <div class="col mb-3">
                                        <label class="form-label" for="editbrandDescription">Description</label>
                                        <textarea id="editbrandDescription" class="form-control"
                                            placeholder="Description" name="editbrandDescription"></textarea>
                                    </div>
                                    <p id="editErrorDescription" class="text-Danger"></p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                    Close
                                </button>
                                <button class="btn btn-primary " id="confirm-edit">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- Modal delete confirm an Brand -->
            <div class="modal fade" id="modalDelete" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalCenterTitle">Delete
                                Confirmation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h5 class="text-muted fw-light">Are you sure you want to delete
                                <b id="DeletebrandName"></b> Brand
                            </h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">No</button>
                            <button type="button" class="btn btn-primary delete-button" id="confirm-delete">Yes</button>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Body --}}
            <div class="card-body">
                <div class="table-responsive text-nowrap">
                    <table class="table table-bordered" id="myTable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Image</th>
                                <th>Description</th>
                                <th>Last Modified</th>
                                <th>status</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each brands}}
                            <tr id="trow_{{this.brandsId}}">
                                <td>
                                    <i class="fab fa-angular fa-lg text-Danger me-3"></i>
                                    <div class="overflow-hidden" style="max-width: 120px;">
                                        <strong>{{this.brandName}}</strong>
                                    </div>
                                </td>
                                <td><img id="img_{{this.brandsId}}" src="{{this.brandURL}}" alt="" height="50">
                                </td>
                                <td>
                                    <div class="overflow-hidden" style="max-width: 180px;">
                                        <p class="text-truncate">{{this.brandDescription}}</p>
                                    </div>
                                </td>
                                <td>
                                    {{this.LastModified}}
                                </td>
                                <td>
                                    <span class="badge bg-label-primary me-1">{{this.status}}</span>
                                </td>

                                <td style="max-width: 80px;">
                                    <div class="row">
                                        <div class="col">
                                            <!-- Button edit -->
                                            <button type="submit" class="btn btn-link" data-bs-toggle="modal"
                                                data-bs-target="#modalEdit_{{this.brandsId}}">
                                                <i class='bx bxs-face-mask' style='color:#33CCFF'></i>
                                            </button>
                                            <!-- Modal -->

                                            <div class="modal fade" id="modalEdit_{{this.brandsId}}" tabindex="-1"
                                                aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h2 class="modal-title" id="modalCenterTitle">DETAIL</h2>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h4>{{this.brandName}}</h4>
                                                            <img src="{{this.brandURL}}" alt="Picture" height="150"
                                                                class="pb-4">

                                                            <h6 class="text-primary">Description:</h6>
                                                            <p>{{this.brandDescription}}</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-outline-secondary"
                                                                data-bs-dismiss="modal">Close
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <!-- Button Edit -->
                                            <button type="button" class="btn btn-link edit-button"
                                                data-id="{{this.brandsId}}" data-name="{{this.brandName}}"
                                                data-img="{{this.brandURL}}"
                                                data-description="{{this.brandDescription}}"
                                                data-bs-target="#modalEditBrand" data-bs-toggle="modal"
                                                onclick="EditBrand(this)">
                                                <i class='bx bx-pencil' style='color:#FFCC33'></i>
                                            </button>
                                        </div>

                                        <div class="col">
                                            <!-- Button delete -->
                                            <button type="button" class="btn btn-link " data-bs-toggle="modal"
                                                data-bs-target="#modalDelete" data-id="{{this.brandsId}}"
                                                data-name="{{this.brandName}}" onclick="DeleteBrand(this)">
                                                <i class='bx bx-trash-alt' style='color:#ff0000'></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="btn-group back-to-top" style="display: inline;">
                <button type="button" class="btn btn-success btn-icon rounded-pill dropdown-toggle hide-arrow"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class='bx bx-brightness'></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end p-1">
                    <li class="p-1">
                        <button onclick="AddNewBrands(this)" class="btn btn-info btn-icon rounded-pill"
                            data-bs-toggle="modal" data-bs-target="#modalAddBrands">
                            <i class='bx bx-plus-medical'></i>
                        </button>
                    </li>
                    <li class="p-1">
                        <button onclick="importBrand()" class="btn btn-secondary btn-icon rounded-pill" id="importFile">
                            <i class='bx bxs-file-import'></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    $('#brandsMenu').addClass('active bx-flashing bx-rotate-0');
</script>

<script>
    function getCategory(checkCategory) {
        var checkboxes = checkCategory.querySelectorAll('input[type="checkbox"]:checked');
        var checkedValues = [];
        for (var i = 0; i < checkboxes.length; i++) {
            checkedValues.push(checkboxes[i].value);
        }
        return checkedValues;
    }
    function flashMessage(type, message) {
        const html = `
            <div class="flash-message bs-toast bg-${type} top-0 end-0 toast toast-placement-ex m-2 show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <i class="bx bx-bell me-2"></i>
                    <div class="me-auto fw-semibold">${type}</div>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">${message}</div>
            </div>`;
        $('body').append(html);
        setTimeout(function () {
            $('.flash-message').remove();
        }, 1500);
    }

    function validateForm(checkCategory, brandName, file, imageURL, brandDescription, errorCategory, errorName, errorImage, errorDescription) {
        let isValid = true;

        if (!getCategory(checkCategory).length) {
            errorCategory.text('Vui lòng chọn chính xác danh mục cho thương hiệu');
            isValid = false;
        }
        else {
            errorCategory.text('');
        }
        if (brandName.val().trim() === '' || !/[a-z]/i.test(brandName.val().trim())) {
            errorName.text('Vui lòng nhập chính xác tên thương hiệu');
            isValid = false;
        }
        else {
            errorName.text('');
        }
        if (!file[0].files[0] && imageURL.val().trim() === '') {
            errorImage.text('Vui lòng chọn hình ảnh hoặc nhập URL');
            isValid = false;
        } else if (file[0].files[0]) {
            const fileExtension = file[0].files[0].name.split('.').pop().toLowerCase();
            const fileTypes = ['jpg', 'jpeg', 'png', 'gif'];
            if (!fileTypes.includes(fileExtension)) {
                errorImage.text('Vui lòng tải lên tệp hình ảnh hợp lệ (JPG, JPEG, PNG, GIF)');
                isValid = false;
            } else {
                errorImage.text('');
            }
        } else {
            errorImage.text('');
        }
        if (brandDescription.val().trim() === '' || !/[a-z]/i.test(brandDescription.val().trim())) {
            errorDescription.text('Vui lòng nhập chính xác mô tả thương hiệu');
            isValid = false;
        }
        else {
            errorDescription.text('');
        }

        return isValid;
    }

    function AddNewBrands(element) {
        const form = $("#modalFormAdd");
        const brandName = $("#brandName");
        const file = $("#file");
        const imageURL = $("#imageURL");
        const brandDescription = $("#brandDescription");
        const errorName = $("#errorName");
        const errorImage = $("#errorImage");
        const errorDescription = $("#errorDescription");
        const errorCategory = $("#errorCategory");
        const checkCategory = document.getElementById("checkboxCategory");
        const imagePreview = $("#imagePreview");
        // cờ kiểm tra nhấn submit
        let isSubmitting = false;

        const background = ['primary', 'secondary', 'success', 'danger', 'warning', 'info', 'dark'];


        form.submit(async function (event) {
            event.preventDefault();
            if (isSubmitting) {
                return;
            }

            try {
                if (validateForm(checkCategory, brandName, file, imageURL, brandDescription, errorCategory, errorName, errorImage, errorDescription)) {
                    isSubmitting = true;

                    const inCategory = JSON.stringify(getCategory(checkCategory));

                    const formData = new FormData(form[0]);
                    formData.append("inCategory", inCategory);

                    console.log(inCategory);

                    $.ajax({
                        url: '/BrandsManagement/newBrand',
                        type: 'POST',
                        data: formData,
                        dataType: 'json',
                        contentType: false,
                        processData: false,
                    })
                        .done(function (response) {
                            if (response.reaction) {
                                flashMessage('Success', 'Thêm mới thương hiệu thành công');
                            }
                            else {
                                flashMessage('Danger', 'Thêm thương hiệu thất bại, tên thương hiệu đã tồn tại');
                            }
                        })
                        .fail(() => {
                            flashMessage('Danger', 'Thêm thương hiệu thất bại');
                        })
                        .always(() => {
                            form.off('submit'); // Xóa sự kiện submit trên form
                            form[0].reset();
                            $('#modalAddBrands').modal('hide'); // Hide the modal form
                        });
                }
            }
            catch (error) {
                console.log(error.message)
                flashMessage('Danger', 'Thêm thương hiệu thất bại');
            }
        });
    }

    function importBrand() {

        var fileInput = document.createElement("input");
        fileInput.type = "file";
        fileInput.multiple = true;
        fileInput.accept = ".xls,.xlsx";

        // Gắn sự kiện upload file cho input file
        fileInput.onchange = function () {
            var selectedFile = this.files[0];
            const formData = new FormData();
            formData.append('importFile', selectedFile);

            $.ajax({
                type: 'POST',
                url: '/BrandsManagement/importBrand',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
            })
                .done(function (response) {
                    if (response.message) {
                        flashMessage("Success", "Import category Successfully");
                    }
                    else {
                        flashMessage("Danger", "Import category failed");
                    }
                })
                .fail(function (response) {
                    flashMessage("Danger", "Import category failed");
                });
        };

        // Mở cửa sổ chọn file
        fileInput.click();
    }
</script>